body {
  background-color: rgb(38, 35, 35);
  height: 100;
  width: 100;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerText {
  flex: 1;
  margin-right: 10vw;
}

#headerText > * {
  margin: 1px;
  color: white;

}

#devin {
  font-size: 7vw;
}

.nav {
  color: white;
  height: 10vh;
  width: 15vh;
  border-radius: 10px;
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
  z-index: 5;
}

.navLink {
  padding: 1vh;
  border: 2px solid black;
  border-radius: 10px;
  background-color: darkred;
  text-decoration: none;
  color: white;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  
}

.skillsContainer > * {
  margin: 5vh;
}

li {
  list-style: none;
}
  



footer {
  justify-self: right;
  margin-bottom: 0;
  background-color: white;
  color: black;
}

.carousel {
  background-color: lightblue;
  height: 50vh;
  width: 70vh;
}

#homePage {
  border: 2px solid lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh;
}

strong {
  font-size:x-large;
  text-decoration: underline;
}

ul {
  padding: 0;
}

.bio {
  width: 70%;
  margin-left: 15%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  width: 80%;
  margin-left: 10%;
}