body {
  background-color: rgb(38, 35, 35);
  height: 100;
  width: 100;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerText {
  flex: 1;
  margin-right: 10vw;
}

#headerText > * {
  margin: 1px;
  color: white;
}

#devin {
  font-size: 5rem;
}

.nav {
  background-color: darkred;
  color: white;
  height: 10vh;
  width: 10vh;
  border-radius: 10px;
  margin-left: 3vw;
}

footer {
  justify-self: right;
  margin-bottom: 0;
  background-color: white;
  color: black;
}

.carousel {
  background-color: lightblue;
  height: 50vh;
  width: 70vh;
}

#homePage {
  border: 2px solid lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh;
}