body {
  background-color: rgb(38, 35, 35);
  height: 100;
  width: 100;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  background-image: linear-gradient(black, rgb(38, 35, 35));
  padding-bottom: 5vh;
  padding-top: 5vh;
}

#headerText > * {
  margin: 1px;
  color: white;

}

#devin {
  font-size: 7vw;
}

.nav {
  color: white;
  background-color: darkred;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-left: 3vw; */
  display: flex;
  margin-top: 5vh;
}


.navLink {
  padding: 1vh;
  text-decoration: none;
  color: white;
  margin-left: 1vw;
  margin-right: 1vw;
}

.navLink:hover {
  background-color: rgb(87, 21, 21);
  transition: 1s;
}

.navLinkText {
  margin: 0;
}

.qualificationsPage {
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  
}

.skillsContainer > * {
  margin: 5vh;
}

li {
  list-style: none;
}
  

footer {
  justify-self: right;
  margin-bottom: 0;
  background-color: white;
  color: black;
  padding: 1vh;
  padding-bottom: 3vh;
}


.carousel {
  background-color: lightblue;
  height: 50vh;
  width: 70vw;
}

#homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh;
  padding-top: 0;
}

strong {
  font-size:x-large;
  text-decoration: underline;
}

ul {
  padding: 0;
}

.bio {
  width: 70%;
  margin-left: 15%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10vh;
}

.imgContainer {
  padding: auto;
}

.imgCarouselContainer {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 3vh;
}

.imageArrow {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  color: lightgrey;
  font-size: 5vh;
  font-weight:bold;
  display: flex;
  text-align: center;
  background-color: rgba(38, 36, 36, 0.5);
}

.imageArrow:hover,
.imageArrow:focus{
  text-shadow: 5px 5px #000000;
  color: white;
  font-size: 270%;
}

#imageArrowLeft {
  right: 90%;
}

#imageArrowRight {
  left: 90%;
}

h5 {
  margin: 1vh;
}

h6 {
  margin: 0;
}

.footerLink {
  color:#6a5454;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  text-align:center;
  font-size: larger;
}

footer > h4 {
  margin: 0;
}

.footerLink:hover {
   font-size: x-large;
   text-shadow:1px 1px 10px #a8a8a8, 1px 1px 10px #989898;
   transition: .5s;
}

.carouselImg {
  max-height: 30vw;
  outline: solid 0px #dadada;
  transition: outline 0.1s linear;
  margin: 0.5em;
}

.carouselImg:hover {
  outline-width: 3px; 
  transform: scale(1.005);
}

#webappsLinkCont {
  margin: 5vw;
  margin-bottom: 8vh;
  margin-top: 3vh;

}

#webappsLink {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: lightblue;
}

.qualsLower {
  border: 2px solid white;
  margin: 2vw;
  width: 70%;
  justify-self: center;
  background-color: black;
  border-radius: 25px;
}

.qualsLower > * {
  margin: 2vh;
}


#algosLink {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  outline: 2px solid white;
  border-radius: 25px;
  
}

.imgLink:hover {
  transform: scale(1.01);
  outline: 7px solid white;
  box-shadow: rgba(222, 222, 255, 0.25) 0px 50px 100px -20px, rgba(255, 198, 198, 0.3) 0px 30px 60px -30px, rgba(185, 218, 250, 0.35) 0px -2px 6px 0px inset;
}

.imgLink {
  border-radius: 25px;
  transition: .5s;
}

.algosCont {
  background-color: black;
  padding: 10vw;
  padding-top:0;
}

.webAppCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 6vh;
}

.webAppCont > * {
  margin: 0;
}

.webAppImg {
  width: 70%;
}

/*  voted palette: https://coolors.co/palette/386641-6a994e-a7c957-f2e8cf-bc4749 */